<?xml version="1.0" encoding="utf-8"?>
<!-- 
  Copyright 2016 Karsten Meyer zu Selhausen
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<configuration>
  <!-- Enables Logging and writes the log file to specified location. -->
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <!-- Log location: -->
      <add initializeData="C:\Webservices\WCF\Log.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml"/>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <system.serviceModel>
    <!-- Needed for Logging. -->
    <diagnostics>
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="10000" maxSizeOfMessageToLog="1000000"/>
    </diagnostics>
    <services>
      <service name="WCF.AdminConfig">
        <endpoint name="NoSecurity" address="/wcf-1" binding="customBinding" bindingConfiguration="NoSecWSA" contract="WCF.IAdminConfig"/>
        <!-- Test service without WS-Addressing: -->
        <endpoint name="NoSecurity" address="/wcf-1-noaddressing" binding="customBinding" bindingConfiguration="NoSec" contract="WCF.IAdminConfig"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.AdminConfigTSSign">        
        <endpoint name="TSSign" address="/wcf-tssign" binding="customBinding" bindingConfiguration="SecureBinding" contract="WCF.IAdminConfigTSSign"/>        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8082/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.AdminConfigEncTSSign">        
        <endpoint name="EncTSSign" address="/wcf-enctssign" binding="customBinding" bindingConfiguration="SecureBinding" contract="WCF.IAdminConfigEncTSSign"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8083/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Activates metadata exchange to allow access to the WSDL file. -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceCredentials>
            <!-- Specifies the server certificate from the windows certificate store. -->
            <serviceCertificate findValue="server" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            <!-- Specifies the expected client certificate from the windows certificate store. -->
            <clientCertificate>
              <certificate findValue="client" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            </clientCertificate>
          </serviceCredentials>
          </behavior>
        </serviceBehaviors>
    </behaviors>
    <!-- Defines own Binding Configurations with different security options. -->
    <bindings>
    <customBinding>
      <binding name="SecureBinding">
        <transactionFlow/>
        <security messageProtectionOrder="EncryptBeforeSign" authenticationMode="MutualCertificate" includeTimestamp="true" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"/>
        <!-- Selects SOAP version 1.1 and enables WS-Addressing. -->
        <textMessageEncoding messageVersion="Soap11WSAddressing10" writeEncoding="utf-8"/>
        <httpTransport/>
      </binding>
      <binding name="NoSec">
        <!-- Selects SOAP version 1.1 and disables WS-Addressing. -->
        <textMessageEncoding messageVersion="Soap11" writeEncoding="utf-8"/>
        <httpTransport/>
      </binding>
      <binding name="NoSecWSA">
        <!-- Selects SOAP version 1.1 and enables WS-Addressing. -->
        <textMessageEncoding messageVersion="Soap11WSAddressing10" writeEncoding="utf-8"/>
        <httpTransport/>
      </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
</configuration>
